node_modules
*.DS_STORE
src/data/couchbase_documents.json
src/data/categories.json
src/data/comments.json
src/data/events.json
src/data/locations.json
src/data/replies.json
src/data/users.json
src/data/generated_data/couchbase_documents.json
src/data/generated_data/categories.json
src/data/generated_data/events.json
src/data/generated_data/locations.json
src/data/generated_data/users.json
src/data/generated_data/artists.json
src/data/generated_data/transactions.json
